body {
    padding: 50px;
    text-align: center;
}

.headerDiv {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.configDiv {
    display: inline-block;
    padding: 25px 10px 25px 20px !important;
    min-width: 560px;
    margin: 0 15px 35px 15px;
}

.loginDiv {
    display: inline-block;
    padding: 20px !important;
    min-width: 350px;
    margin: 0 15px 35px 15px;
}

.separator {
    margin-bottom: 30px;
    text-align: left;
}

.withMarginRight {
    margin-right: 25px;
}

.withMarginBottom {
    margin-bottom: 25px;
}

.rightAlign {
    float: right;
    margin-right: 20px;
}

.loading {
    margin-left: 10px;
    display: none;
}

input,
select {
    padding: 6px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select {
    color: #464545 !important;
}

label,
span {
    font-weight: bold;
}