		
	{{#error}}
	<div class="alert alert-danger">
		<p>{{message}}</p>
	</div>
	<br/>
	{{/error}}
	
	<div class="headerDiv">
		<h2>Login</h2>
	</div>
	<br/>		
		
  	<div class="loginDiv well">
	  	<form action="doLogin" method="POST">
		  		<label for="name">Username</label>
				<br/>
		  		<input name="name" class="withMarginBottom" type="text" size="35"/>
				<br/>
		  		<label for="pass">Password</label>
				<br/>
		  		<input name="pass" class="withMarginBottom" type="text" size="35"/>
				<br/>
	  			<input type="submit" class="btn btn-primary withMarginBottom" value="Login"/>	  		
	  	</form>
	  </div>
	  
	  <br/>
	  
	  <div class="headerDiv">
			<h2>or create new user</h2>
		</div>
		<br/>		
		
  	<div class="loginDiv well">
	  	<form action="doSignup" method="POST">
		  		<label for="name">Username</label>
				<br/>
		  		<input name="name" class="withMarginBottom" type="text" size="35"/>
				<br/>
		  		<label for="pass">Password</label>
				<br/>
		  		<input name="pass" class="withMarginBottom" type="text" size="35"/>
				<br/>	  			  		
	  			<input type="submit" class="btn btn-primary withMarginBottom" value="Create user"/>	  		
	  	</form>
	  </div>
